
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-599428360065516428.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-599428360065516428.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-599428360065516428.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-599428360065516428.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-599428360065516428.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-599428360065516428.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-599428360065516428.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-599428360065516428.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-599428360065516428.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-599428360065516428.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-599428360065516428.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-599428360065516428.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-599428360065516428.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-599428360065516428.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-599428360065516428.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-599428360065516428.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-599428360065516428.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-599428360065516428.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-599428360065516428.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-599428360065516428.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-599428360065516428.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-599428360065516428.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-599428360065516428.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-599428360065516428.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-599428360065516428.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-599428360065516428.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-599428360065516428.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-599428360065516428.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-599428360065516428.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-599428360065516428.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-599428360065516428.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-599428360065516428.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-599428360065516428.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-599428360065516428.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-599428360065516428.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-599428360065516428.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-599428360065516428.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-599428360065516428.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-599428360065516428.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-599428360065516428.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-599428360065516428.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-599428360065516428.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-599428360065516428.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-599428360065516428.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-599428360065516428.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-599428360065516428.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-599428360065516428.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-599428360065516428.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-599428360065516428.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-599428360065516428.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-599428360065516428.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-599428360065516428.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-599428360065516428.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-599428360065516428.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-599428360065516428.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-599428360065516428.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-599428360065516428.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-599428360065516428.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-599428360065516428.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-599428360065516428.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-599428360065516428.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-599428360065516428.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-599428360065516428.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-599428360065516428.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-599428360065516428.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-599428360065516428.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-599428360065516428.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-599428360065516428.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-599428360065516428.gps.gpsil [style*="--ls-tablet:"]{letter-spacing:var(--ls-tablet)}.gps-599428360065516428.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-599428360065516428.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-599428360065516428.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-599428360065516428.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-599428360065516428.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-599428360065516428.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-599428360065516428.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-599428360065516428.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-599428360065516428.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-599428360065516428.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-599428360065516428.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-599428360065516428.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-599428360065516428.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-599428360065516428.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-599428360065516428.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-599428360065516428.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-599428360065516428.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-599428360065516428.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-599428360065516428.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-599428360065516428.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-599428360065516428.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-599428360065516428.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-599428360065516428.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-599428360065516428.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-599428360065516428.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-599428360065516428.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-599428360065516428.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-599428360065516428.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-599428360065516428.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-599428360065516428 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-599428360065516428 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-599428360065516428 .gp-relative{position:relative}.gps-599428360065516428 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-599428360065516428 .gp-mb-0{margin-bottom:0}.gps-599428360065516428 .gp-inline-block{display:inline-block}.gps-599428360065516428 .gp-flex{display:flex}.gps-599428360065516428 .gp-inline-flex{display:inline-flex}.gps-599428360065516428 .gp-grid{display:grid}.gps-599428360065516428 .gp-contents{display:contents}.gps-599428360065516428 .\!gp-hidden{display:none!important}.gps-599428360065516428 .gp-hidden{display:none}.gps-599428360065516428 .gp-h-auto{height:auto}.gps-599428360065516428 .gp-h-full{height:100%}.gps-599428360065516428 .gp-w-full{width:100%}.gps-599428360065516428 .gp-max-w-full{max-width:100%}.gps-599428360065516428 .gp-flex-none{flex:none}.gps-599428360065516428 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-599428360065516428 .gp-flex-col{flex-direction:column}.gps-599428360065516428 .gp-items-center{align-items:center}.gps-599428360065516428 .gp-justify-center{justify-content:center}.gps-599428360065516428 .gp-overflow-hidden{overflow:hidden}.gps-599428360065516428 .gp-break-words{overflow-wrap:break-word}.gps-599428360065516428 .gp-leading-\[0\]{line-height:0}.gps-599428360065516428 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-599428360065516428 .gp-no-underline{text-decoration-line:none}.gps-599428360065516428 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-599428360065516428 .gp-duration-200{transition-duration:.2s}.gps-599428360065516428 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-599428360065516428 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-599428360065516428 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-599428360065516428 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-599428360065516428 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-599428360065516428 .tablet\:\!gp-hidden{display:none!important}.gps-599428360065516428 .tablet\:gp-hidden{display:none}.gps-599428360065516428 .tablet\:gp-h-auto{height:auto}.gps-599428360065516428 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-599428360065516428 .mobile\:\!gp-hidden{display:none!important}.gps-599428360065516428 .mobile\:gp-hidden{display:none}.gps-599428360065516428 .mobile\:gp-h-auto{height:auto}.gps-599428360065516428 .mobile\:gp-flex-none{flex:none}}.gps-599428360065516428 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-599428360065516428 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-599428360065516428 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-599428360065516428 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-599428360065516428 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-599428360065516428 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}


@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiEyp8kv8JHgFVrFJA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/poppins/v24/pxiByp8kv8JHgFVrLCz7V1s.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"g-yx4m3Tih"}' data-id="g-yx4m3Tih" id="g-yx4m3Tih" data-same-height-subgrid-container class="g-yx4m3Tih gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gbgow_dNWQ gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gevua60r44"}' data-id="gevua60r44" id="gevua60r44" data-same-height-subgrid-container class="gevua60r44 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:44px;--bbrr:44px;--btlr:44px;--btrr:44px;--op:100%;--cg:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:1440px;--h:100%;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gxXFe4CzTt gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#F4F1FF","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gX8Jo37XBb"}' data-id="gX8Jo37XBb" id="gX8Jo37XBb" data-same-height-subgrid-container class="gX8Jo37XBb gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:50px;--pl:50px;--pb:50px;--pr:50px;--pt-tablet:50px;--pl-tablet:50px;--pb-tablet:50px;--pr-tablet:50px;--pt-mobile:40px;--pl-mobile:24px;--pb-mobile:40px;--pr-mobile:24px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:20px;--bbrr:0px;--btlr:20px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--h:100%;--bgc:#F4F1FF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g96xWk44RL gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZgP59Ydky"
        class="gZgP59Ydky"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:13px;--size-tablet:22px;--size-mobile:21px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZgP59Ydky_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQguWJ6JOg"
        class="gQguWJ6JOg"
        style="--ta:left;--mt:15px;--mb:15px;--mt-tablet:15px;--mb-tablet:15px;--mt-mobile:15px;--mb-mobile:15px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class="gp-g-heading-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--size:36px;--size-tablet:25px;--size-mobile:25px;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQguWJ6JOg_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfJxOZboFh"
        class="gfJxOZboFh"
        style="--ta:left;--mt:0px;--pb:8px;--mt-tablet:0px;--pb-tablet:8px;--mt-mobile:0px;--pb-mobile:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:22px;--size-mobile:21px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfJxOZboFh_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUeyDo7uaJ"
        class="gUeyDo7uaJ"
        style="--ta:left;--mb:8px;--pb:0px;--mb-tablet:8px;--pb-tablet:0px;--mb-mobile:8px;--pb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:22px;--size-mobile:21px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUeyDo7uaJ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkmbGY1Dz6"
        class="gkmbGY1Dz6"
        style="--ta:left;--mb:8px;--mb-tablet:8px;--mb-mobile:8px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:22px;--size-mobile:21px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkmbGY1Dz6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <gp-button
      gp-data='{"btnLink":{"type":"open-page","link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--mt:8px;--mb:10px;--pb:0px;--mt-tablet:8px;--mb-tablet:10px;--pb-tablet:0px;--mt-mobile:8px;--mb-mobile:10px;--pb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--op:100%;--ta:left" >
        <style>[data-id="ga2wIfKh_b"].gp-button-base::before, [data-id="ga2wIfKh_b-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      
  
    }
  
      
  [data-id="ga2wIfKh_b"]:hover::before, [data-id="ga2wIfKh_b-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="ga2wIfKh_b" dataId="ga2wIfKh_b" data-state="idle" aria-label="<p><strong>SHOP CRYSTAL HAIR ERASER</strong></p>"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--hvr-bblr:10px;--hvr-bbrr:10px;--hvr-btlr:10px;--hvr-btrr:10px;--bgi:;--hvr-bgi:;--bg:#7069BC;--hvr-bg:var(--g-c-highlight, highlight);--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:22px;--size-mobile:21px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal"
          class="ga2wIfKh_b gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-Poppins, 'Poppins'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:22px;--size-mobile:21px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--ls:normal;--ls-tablet:normal;--ls-mobile:normal;--ts:none;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gga2wIfKh_b_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    

    

    
    <gp-row gp-data='{"uid":"gIFitRL0cG"}' data-id="gIFitRL0cG" id="gIFitRL0cG" data-same-height-subgrid-container class="gIFitRL0cG gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gvSzCFef_v gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"ggFK44nQO6"}' data-id="ggFK44nQO6" id="ggFK44nQO6" data-same-height-subgrid-container class="ggFK44nQO6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mt:5px;--ml:auto;--mb:0px;--mt-tablet:5px;--ml-tablet:auto;--mb-tablet:0px;--mt-mobile:5px;--ml-mobile:auto;--mb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 2fr) minmax(0, 10fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gaCISpfiVn gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"g-cj5H-f62"}' data-id="g-cj5H-f62" id="g-cj5H-f62" data-same-height-subgrid-container class="g-cj5H-f62 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ggXT8Pj5fL gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gjMLtZ8u7L"}' data-id="gjMLtZ8u7L" id="gjMLtZ8u7L" data-same-height-subgrid-container class="gjMLtZ8u7L gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:0px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr) minmax(0, 2.4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gwiThVMZuU gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gD_UGEmro4" class="gp-leading-[0] gD_UGEmro4" style="--ml:0px;--mb:0px;--ml-tablet:0px;--mb-tablet:0px;--ml-mobile:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left">
      <div data-id="gD_UGEmro4" class="icon-wrapper gp-inline-flex gp-overflow-hidden gD_UGEmro4 " style="--shadow:none">
      
        <div >
          <span style="--c:#7069BC;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:20px;--h:20px;--h-tablet:20px;--h-mobile:20px;--minw:20px;--minw-tablet:20px;--minw-mobile:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" data-name="star-filled" viewBox="0 0 256 256" fill="currentColor" data-id="508414815326568808">
          <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gVccSKBT3j gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g_9_F-gf-s" class="gp-leading-[0] g_9_F-gf-s" style="--ml:0px;--ml-tablet:0px;--ml-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left">
      <div data-id="g_9_F-gf-s" class="icon-wrapper gp-inline-flex gp-overflow-hidden g_9_F-gf-s " style="--shadow:none">
      
        <div >
          <span style="--c:#7069BC;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:20px;--h:20px;--h-tablet:20px;--h-mobile:20px;--minw:20px;--minw-tablet:20px;--minw-mobile:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" data-name="star-filled" viewBox="0 0 256 256" fill="currentColor" data-id="508414815326568808">
          <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gfdEnkXf_J gp-relative gp-flex gp-flex-col"
    >
      
    <div id="giLWP8kSpn" class="gp-leading-[0] giLWP8kSpn" style="--ml:0px;--ml-tablet:0px;--ml-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left">
      <div data-id="giLWP8kSpn" class="icon-wrapper gp-inline-flex gp-overflow-hidden giLWP8kSpn " style="--shadow:none">
      
        <div >
          <span style="--c:#7069BC;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:20px;--h:20px;--h-tablet:20px;--h-mobile:20px;--minw:20px;--minw-tablet:20px;--minw-mobile:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" data-name="star-filled" viewBox="0 0 256 256" fill="currentColor" data-id="508414815326568808">
          <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gIBrG3ZWjK gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gOdA5oVyuG" class="gp-leading-[0] gOdA5oVyuG" style="--ml:0px;--ml-tablet:0px;--ml-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left">
      <div data-id="gOdA5oVyuG" class="icon-wrapper gp-inline-flex gp-overflow-hidden gOdA5oVyuG " style="--shadow:none">
      
        <div >
          <span style="--c:#7069BC;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:20px;--h:20px;--h-tablet:20px;--h-mobile:20px;--minw:20px;--minw-tablet:20px;--minw-mobile:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" data-name="star-filled" viewBox="0 0 256 256" fill="currentColor" data-id="508414815326568808">
          <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gcZ0giy7lz gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gnuJFVEcR2" class="gp-leading-[0] gnuJFVEcR2" style="--ml:0px;--mb:0px;--ml-tablet:0px;--mb-tablet:0px;--ml-mobile:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:left">
      <div data-id="gnuJFVEcR2" class="icon-wrapper gp-inline-flex gp-overflow-hidden gnuJFVEcR2 " style="--shadow:none">
      
        <div >
          <span style="--c:#7069BC;--t:rotate(0deg);--w:20px;--w-tablet:20px;--w-mobile:20px;--h:20px;--h-tablet:20px;--h-mobile:20px;--minw:20px;--minw-tablet:20px;--minw-mobile:20px;--height-desktop:20px;--height-tablet:20px;--height-mobile:20px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg" data-name="star-filled" viewBox="0 0 256 256" fill="currentColor" data-id="508414815326568808">
          <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M234.29,114.85l-45,38.83L203,211.75a16.4,16.4,0,0,1-24.5,17.82L128,198.49,77.47,229.57A16.4,16.4,0,0,1,53,211.75l13.76-58.07-45-38.83A16.46,16.46,0,0,1,31.08,86l59-4.76,22.76-55.08a16.36,16.36,0,0,1,30.27,0l22.75,55.08,59,4.76a16.46,16.46,0,0,1,9.37,28.86Z"></path></svg></span>
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gwieB4CV69 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g9YEKYfuW7"
        class="g9YEKYfuW7"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:22px;--size-mobile:21px;--c:var(--g-c-text-1, text-1);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9YEKYfuW7_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="ggXAUZT0rU gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gaEPyUEE-U"
      style="--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--ta:center"
      class="gp-group/image gp-relative force-publish-1766830223988 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gaEPyUEE-U"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "custom_resized_8588c199-ac99-4681-8369-54f04818f7f5.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjQ1MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTQ1MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjQ1MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjQ1MSIgZmlsbD0idXJsKCNnLTYwMC00NTEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "custom_resized_8588c199-ac99-4681-8369-54f04818f7f5.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjQ1MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTQ1MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjQ1MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjQ1MSIgZmlsbD0idXJsKCNnLTYwMC00NTEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "custom_resized_8588c199-ac99-4681-8369-54f04818f7f5.webp" | file_url }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNjAwIiBoZWlnaHQ9IjQ1MSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNjAwLTQ1MSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNjAwIiBoZWlnaHQ9IjQ1MSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNjAwIiBoZWlnaHQ9IjQ1MSIgZmlsbD0idXJsKCNnLTYwMC00NTEpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii02MDAiIHRvPSI2MDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "custom_resized_8588c199-ac99-4681-8369-54f04818f7f5.webp" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--btrr:20px;--bblr:0px;--bbrr:20px;--btlr:0px;--radiusType:custom;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-599428360065516428 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/gempages-practice-stores/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=599426421139440572&sectionId=599428360065516428)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggZgP59Ydky_text","label":"ggZgP59Ydky_text","default":"<p><strong>NEW: 🏆 2025 RATED HAIR REMOVAL INNOVATION</strong></p>"},{"type":"html","id":"ggQguWJ6JOg_text","label":"ggQguWJ6JOg_text","default":"<strong>Easy, Painless Hair Removal</strong>"},{"type":"html","id":"ggfJxOZboFh_text","label":"ggfJxOZboFh_text","default":"<p>💜 Perfect for the bikini area + full body</p>"},{"type":"html","id":"ggUeyDo7uaJ_text","label":"ggUeyDo7uaJ_text","default":"<p>⚡ Easy and Painless hair remover</p>"},{"type":"html","id":"ggkmbGY1Dz6_text","label":"ggkmbGY1Dz6_text","default":"<p>🌸 Enjoy silky smooth, hair-free skin</p>"},{"type":"html","id":"gga2wIfKh_b_label","label":"gga2wIfKh_b_label","default":"<p><strong>SHOP CRYSTAL HAIR ERASER</strong></p>"},{"type":"html","id":"gg9YEKYfuW7_text","label":"gg9YEKYfuW7_text","default":"<p>Excellent <strong>4.8 </strong>| 7,322 trusted reviews</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}